body{
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--body-background);
  margin-top: 10px;
  margin: auto;
  width: 100vw;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
   }

   *{
    box-sizing: border-box;
    
   }


:root {
    --body-background:#592D41;
    --color-logo: #F288B9;
    --card-color: #D97993;
    --text-color:#3F598C;
    --subtitle-color:#A6038B;
    --black-text: #000;
    --color-input: #55D9C1;
  }


  header{
    margin: auto;
    width: 70%;
    height: 100%;
    padding: 30px;
  }


  header h1{
      font-family:'Courier New', Courier, monospace;
       /* Definir o plano de fundo do texto */
      background: linear-gradient(to bottom, #D97993 50% , black 15%);
      display: inline-block;
      /*Recorte o fundo até o texto*/
      -webkit-background-clip: text;
      background-clip: text;
    
      /*Defina a cor do texto para transparente*/
      color: transparent;
      font-size: 70px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.136);
      margin-left: 130px;
      margin-top: -10px;
      text-align: center;
      
  }
  

  /* configuração relogio */
  .horarios{
   display: grid;
   position: relative;
   top: -65px;
   
    
  }
  .horarios a{
    font-size: 25px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    position: relative;
    top: 80px;
    left: 17em;
  }

  .horarios ion-icon{
    position: relative;
    left: -55px;
    margin-left:70px;
    font-size: 30px;
    color: #000;
  }

  /* configurando o botão de cor de fundo */


     

  #moon{
    font-size: 25px;
    position: relative;
    top: 25px;
    left: -33px;
    z-index: 1;
    cursor: pointer;
  }

  #sunny{
    font-size: 25px;
    position: relative;
    top: 25px;
    left: 17px;
    z-index: 1;
    cursor: pointer;
    
  }

  .conteudo-botao{
    position: relative;
    top: -50px;
    left: 65em;
    transition: background 0.2s linear;


  }
  .label {
   width: 50px;
   height: 16px;
    background-color: #D97993;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: scale(3);
  }
  
  .label .ball {
    background-color: wheat; 
    border-radius: 50%;
    position: absolute;
    left: 2px;
    height: 13px;
    width: 13px;
    transition: transform 0.1s linear;
    
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(30px);
  }

  .checkbox {
    opacity: 0;
    position: absolute;
  }

  body.dark {
    background: #3F598C;
  }
  
  
  

/* configuração da navegação */


  nav a{
    text-decoration: none;
    color: #000;
    background-color: #D97993;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
    
  }

  nav{
    margin: auto;
    margin-top: 15px;
    width: 70%;
    height: 100%;

  }

  p{
    justify-content: center;
    color: #D97993;
    font-size: 23px;
  }

  /* configuração do input */

   input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 200px;
    margin-bottom: 10px;
    
  }

  


  /* configuração principal */

  main{
    margin: auto;
    width: 75%;
    height: 100%;
    
  }


  /* configuração de informações */

 

  img{
   width: 50%;
   margin-left: 250px;
   margin-top: 30px;
 }

 

 /* Responsividade */



@media(max-width: 1277px){

  body{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--body-background);
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin: auto;
    
     
}



  header h1{
      font-family:'Courier New', Courier, monospace;
       /* Definir o plano de fundo do texto */
      background: linear-gradient(to bottom, #D97993 25% , to bottom black 15%);
      display: inline-block;
      /*Recorte o fundo até o texto*/
      -webkit-background-clip: text;
      background-clip: text;
    
      /*Defina a cor do texto para transparente*/
      color: transparent;
      font-size: 43px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.136);
      text-align: center;
      
  }

  

 img{
    width: 80%;
    margin: auto;
    position: relative;
    left: 50px;
    background-attachment: fixed;
    margin-top: 30px;
  }


  nav a{
    text-decoration: none;
    color: #000;
    background-color: #D97993;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    display: grid;
    margin-top: 10px;
    
    
  }

  nav{
    margin: auto;
    margin-top: 15px;
    width: 70%;
    height: 100%;

  }

  /* configuração do input */

   input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: auto;
    position: relative;
     left: 100px;

  }

  


  #moon{
    font-size: 25px;
    position: relative;
    top: 25px;
    z-index: 2;
    left: -40px;
  }

  #sunny{
    font-size: 25px;
    position: relative;
    left: 17px;
    top: 24px;
    z-index: 2;
  }

  .conteudo-botao{
    position: relative;
    left:185px;
    
    
  }
}